<!-- start Simple Custom CSS and JS -->
<style type="text/css">
#searchsubmit {
  display: none;
}

#s {
  margin: 10px; /* Adjust the margin value as needed */
}
.nav-itemactive  {
  background-color: red; 
	padding-left: 4px;
}

.navbar-nav{
  padding-left: 4px;
}
.form-inline {
  padding-bottom: 8px;
}</style>
<!-- end Simple Custom CSS and JS -->
